*{
    border: 1px  red;
}

body{
	font-family: "calibri";
    font-weight: 100;
    background: lightgray;
    margin:0;
    padding: 0;
}

.title{
    background: white;
    text-align: center;
    padding:2px;
}

.feed{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    padding: 0;
}

.post{
    background-color: white;
}
.user_picture{
    display:flex;
    float: left;
    margin: 5px 5px;

}

.user_picture img{
    width: 70px;
    height: 70px;
    border-radius: 100%;

}

.image_post{
    width: 100%;
    max-width: fit-content;
    height: 300px;
    display:flex;
    position:relative;
    justify-content: center;
    object-fit: cover;


}

.post_title{
    margin-top: 20px; 
    padding:0 px;
    display:flex;
    font-size:13px;
}
.user{
    display:flex;
    float: none;
    font-size:px;  
}

.post_text{
    width: 520px;
    margin:0;
    padding:0 5px;
    display: flex;
    font-size: 15px;
}

.interactions{
    font-size: 20px;
    color: black;
    padding: 10 0 0 10px;
    float: inline;
    display: inline;
}

.post-date{
    display: inline;
    float:inline-end;
    font-size: 15px;
    padding: 0 35 0 0;
}
.etiquetar{
    float: right;
    padding: 0 10 0 0;
}
.date_and_interactions{
    padding: 10px 0 0 0
}